name: Build & Lint

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v3
        with:
          node-version: "14.x"
      - uses: ruby/setup-ruby@v1
      - run: gem install bundler:2.1.4
      - run: bundle install
      - run: npm install
      - run: npm run lint
